html,body{
	width: 100%;
	height: 100%;
}
#root{
	height: 100%;
	width: 100%;
	/* background: url("mainintrobg.jpg");
	background-repeat: no-repeat;
	background-size:cover; */
	background: #4d4545;
	overflow: auto;
}

* {
	font-family: 'PT Serif', serif;
}
nav {
	transition: 0.5s;

}
.img-logo {
	height: 50px;
	width: 60px;
}
.navbar-brand{
	margin-right: 2rem !important;
	color: #f1d1d1!important;
}
.nav-link {
	transition: 0.5s;
	margin-right: 2rem;
	color: #f1d1d1!important;
}
.nav-link:hover{
	text-decoration-color: red;
	color: red !important;
}
.navbar-light .navbar-toggler{
	margin-right: 1rem;
	color: red !important;
	border-color: brown !important;
}
@media (max-width: 768px){
	.nav-right{
		margin-left: 0;
		
	}
	.navbar-nav span a:nth-last-of-type(2){
		padding-bottom: 8px;
		border-bottom: 1px solid brown;
	}
	.main{
		padding-top: 5rem;
		padding-bottom: 2rem;
		min-height: 300px;
		max-height: 400px;
	}
}
@media (min-width: 768px){
	.nav-right.last{
		padding-left: 5px;
		border-left: brown solid 2px;
		margin-right: 0;
	}
	.wrap-up {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: flex-end;

	}
	#mainText  h1{
		font-size: 5rem;
		
	}
	#mainText  h3{
		font-size: 3rem;
	}
	.main{
		padding-top: 7rem;
		padding-bottom: 2rem;
		height: 40%;
		min-height: 500px;
		max-height: 600px;
	}

}
.main {
	
	background: url("homeWallpaper.jpg");
	background-size: cover;
	background-position: 50% 25%;
	background-repeat: no-repeat;
	width: 100%;
	text-align: center;
}
.home {
	
}

.main.container{

	position: absolute;


}
#mainText  h1,#mainText  h3{
	color:#ff5f40;
	
}
#mainText  h1{
	margin: 0 auto 0 auto;
}
#playButton {
	background: #FBEEC1;
	border-color: #FBEEC1;
}
#playButton:hover{
	background: #8D8741;
	border-color: #8D8741;
	color: white;
}
.load{
	display: none;
}
section {
	height: 100%;
	width: 100%;
}
.still-load{
	width: 100%;
	height: 100%;
}
.outer{
	width: 250px;
	height: 250px;
	border-radius: 50px;
	border: 20px #8D8741 groove;
}
.inner{
	width: 150px;
	height: 150px;
	border-radius: 25px;
	border: 20px #FBEEC1 groove;
}
.point{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background: #8d6262;
}
#root {
width: 100%;
height: 100%;
}
.navbar-toggler:focus{
	outline: 0 !important;
}
.enter{
	opacity: 0;
	transition: opacity 1s, transform 1s, border-bottom 1s;
	border-bottom: 0;
}
.enter-active{
	opacity: 1;
	transform: translateY(20px);
	
	transition: opacity 1s, transform 1s,border-bottom 1s;
	
}
.enter-done{
	transform: translateY(20px);
	opacity: 1;
	transition: opacity 1s, transform 1s, border-bottom 1s;
}
.enter div>div>div>hr{
	border: 0;
	width: 0;
	transition: border 1s, width 1s;
}
.enter-active div>div>div>hr{
	border: 1px solid brown;
	width: 50%;
	transition: border 1s, width 1s;
}
.enter-done div>div>div>hr {
	border: 2px solid brown;
	width: 100%;
	transition: border 1s, width 1s;
}


#mainText hr{
	color: brown;
	height: 0px;
	margin: 0 auto 0 auto;
	background: brown;
}
.intro div>span>p{
	border-left: 2px solid brown;
	padding-left: 1.5rem;
}
.intro div>img{
	border-radius: 5px;
	margin-bottom: 1rem;
}

.header-1{
	padding: 1rem 1rem 1rem 1rem;
	font-size: 2rem;
	background: #f1d1d1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #ca5116;
	border: 2px brown solid;
}
.header-2{
	font-size: 1.5rem;
	list-style: none;
	padding-left: 0;
	
}
.header-2 li{
	padding: 1rem 0 1rem 2rem;
}
.header-2 li a {
	text-decoration-line: none;
	color: brown;
	transition: 0.5s;
}
.header-2 li p{
	margin-bottom: 0;
	font-size: 1rem;
	color: grey
}
.header-2 li a:hover{
	color: darkolivegreen;
}
.header-2 li:nth-of-type(2n+1){
	background:#ffdecf;
}
.header-2 li:nth-of-type(2n){
	background:#f1d1d1;
}
.forumHead{
	padding-top: 50px;
	padding-bottom: 1rem;
}